<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            body{
                background-color: whitesmoke;
            }
            .d1{
                height: 1000px;
                width: 600px;
                background-color:blanchedalmond;
                position: relative;
                margin: auto;
            }

            .form-group,h3{
                padding: 10px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }

            .btn-danger{
                position: relative;
                left:43%;
            }
        </style>
    </head>
    <body>
        <div class="alert alert-info" role="alert">
            <h5><center>{{ msg }}</center></h5>
          </div>
        
        <h3 style="margin-top: 20px;"><center><b>Get information on glass type by entering in the details!</b></center></h3>
        <br>
        <div class="d1">
            <form action = '/check' method = 'POST'>
                <div class="form-group">
                  <label for="exampleInputEmail1">Refractive Index-RI (Min:1.5112/Max:1.5339)</label>
                  <input type="text" class="form-control" name="ri" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Sodium-Na (Min:10.73/Max:17.38)</label>
                    <input type="text" class="form-control" name="na" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Magnesium-Mg (Min:0/Max:4.498)</label>
                    <input type="text" class="form-control" name="mg" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Aluminium-Al (Min:0.29/Max:3.5)</label>
                    <input type="text" class="form-control" name="al" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Silicon-Si (Min:69.81/Max:75.41)</label>
                    <input type="text" class="form-control" name="si" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Potassium-K (Min:0/Max:6.29)</label>
                    <input type="text" class="form-control" name="k" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Calcium-Ca (Min:5.43/Max:16.19)</label>
                    <input type="text" class="form-control" name="ca" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Barium-Ba (Min:0/Max:3.15)</label>
                    <input type="text" class="form-control" name="ba" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Iron-Fe (Min:0/0.51)</label>
                    <input type="text" class="form-control" name="fe" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <button type="submit" class="btn btn-danger">Predict</button>
            </form>
            
        </div>
    </body>
</html>